body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

.auth-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ffcc00;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin-top: 70px;
}

.auth-container h2 {
    text-align: center;
    color: #333;
    font-size: 60px;
    margin-bottom: 20px;
}

.auth-container input {
    width: calc(100% - 30px);
    padding: 20px;
    margin: 15px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 24px;
}

.auth-container input:focus {
    border-color: #ffcc00;
    outline: none;
}

.auth-container button {
    width: (100% - 20px );
    padding: 20px;
    margin: 10px 0;
    background-color: #ffcc00;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s;
}

.auth-container button:hover {
    background-color: #e6b800;
}

.auth-container .switch-auth {
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
}

.auth-container .switch-auth a {
    color: #ffcc00;
    text-decoration: none;
}

.auth-container .switch-auth a:hover {
    text-decoration: underline;
}
